# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

/android.tests.dependencies
/confluence/target
/dependencies
/dist
/local
/gh-pages
/ideaSDK
/clionSDK
/android-studio/sdk
out/
/tmp
workspace.xml
*.versionsBackup
/jps-plugin/testData/kannotator
/js/js.translator/testData/out/
/js/js.translator/testData/out-min/
.gradle/
build/


# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Users Environment Variables
.lock-wscript

.DS_Store

*.csv
*.dat
*.out
*.gz


